<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
 
<% @posts.each do |p| %>
	<ul style="list-style:none;">
		<li><strong>Title: <%= p.title %></strong></li>
		<li>Content <%= p.content %></li>
		<li>Content <%= p.created_at %></li>
	</ul>	
<% end %>

<%= form_for @post do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :content %>
  <%= f.submit :create %>
<% end %> 


